#mirror {
      width: 1280px;
      height: 960px;
      background-color: #CCC;
      display: flex;
      flex-wrap: wrap;
      filter: sepia();
}

body{
  margin: 0;
}

.lol{
  width: 20px;
  height: 20px;
}
